@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  font: 16px/1.8 'Roboto', sans-serif;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.comingSoon {
  position: relative;
  z-index: 1;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 100px;
}

.comingSoon .content {
  width: 60%;
  font-size: 20px;
}

.comingSoon .icon {
  font-size: 130px;
  line-height: 1;
  margin: 0;
  color: #0fe0ba;
}

.comingSoon h1 {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  font-weight: 300;
  margin: 0 0 10px;
}

.comingSoon p {
  margin: 0 0 30px;
}

.comingSoon ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.comingSoon .content li {
  margin: 0 15px 0 0;
}

.comingSoon .btn {
  font-size: 18px;
  border: 1px solid transparent;
  background: #0fe0ba;
  color: #1e322f;
  text-decoration: none;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  transition: opacity 0.3s linear;
}

.comingSoon .btn span {
  margin: -3px 10px 0 0;
  display: inline-block;
  vertical-align: top;
}

.comingSoon .btn:hover {
  opacity: 0.7;
}

.comingSoon .btn.btnOutline {
  background: none;
  border: 1px solid #0fe0ba;
  color: #0fe0ba;
}

.socials {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 24px;
}

.socials li {
  margin: 0 7px;
}

.socials a {
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: background 0.3s linear;
}

.socials a:hover {
  background: #0fe0ba;
}